.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    padding: 16px 48px;
    align-items: center;
}

.header h1 {
    font-weight: bold;
    font-size: 2rem;
}

.header img {
    width: 60px;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header p {
    font-weight: bold;
}

.footer {
    
}