.section {
    display: flex;
    gap: 16px;
}

.horizontal {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
}

.wrapper p, .wrapper h2 {
    color: white;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
}

.wrapper h2 {
    font-weight: 400;
    font-size: 1.3rem;
}

.tier {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.radioMenu {
    min-width: 200px;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.individualRadioWrap {
    display: flex;
    justify-content: space-between;
}